*{
  padding: 0%;
  margin: 0%;
}
section{
    background: url(../images/flower.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  form {
    margin: 10px;
    width: 400px;
    height: auto;
    background-color: rgba(246, 168, 22, 0.8);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .formHolder{
    flex-grow: 3;
    flex-shrink: 3;
  }
  .tableHolder{
    flex-grow: 2;
    flex-shrink: 2;
  }
  .cap {
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
  }
  input {
    padding: 8px;
    width: 260px;
    height: 25px;
    background-color: transparent;
  }
  select {
    height: 43px;
    padding: 8px;
    width: 278px;
    background-color: transparent;
    color: aliceblue;
  }
  option{
    background-color: black;
  }
  [type="submit"] {
    color: white;
    background-color: rgba(22, 126, 246, 0.85);
    padding: 10px;
    border: none;
  }
  [type="reset"] {
    color: white;
    background-color: red;
    padding: 10px;
    border: none;
  }
  .radio,
  .language {
    width: 15px !important;
    height: 20px;
    margin-top: 4px;
  }
  button {
    margin-bottom: 15px;
    border-radius: 10px;
  }
  button:hover{
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  table{
    border-collapse: collapse;
    height: 96vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  table th:last-child{
    width: auto;
  }
  table tr th{
    border: 1px solid green;
    padding: 10px;
    
  }
